// Place all the styles related to the content controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$img_box_shadow: teal;

@font-face{
  font-family:"Beyno";
  src:url(asset-path('fonts/BEYNO.ttf'));
}
.holding_class {
	color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}
footer {
	@extend .holding_class;
}
.scoring_samples {
	font-family: "Beyno";
}
.featured_works{
	font-family: "Beyno";
}
.lukes_compositions_page {
	background: image-url("sheet_music.jpg");
	background-repeat: no-repeat;
	background-size:100%;
}
.weird_phishes_page {
	background: image-url("weird_phishes_back.jpg");
	background-repeat: no-repeat;
	background-size:100%;
}
.wikr_page {
	background: image-url("wikr_wallpaper.jpg");
	background-repeat: no-repeat;
	background-size:100%;
}
.intro_section {

	background: image-url("sheet_music.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	@extend .holding_class;
}
.featured_works_section {
	background: image-url("leather.jpg");
	background-size:100%;
	@extend .holding_class;
}
.social_media_section {
	background: image-url("leather.jpg");
	background-size:100%;
	@extend .holding_class;
}
img {
	cursor: pointer;
}
.customer_name {
	margin-right: 11px;
}
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}
.button_to input{
	color: blue;
	box-shadow: 6px 6px 6px black;
}

svg {
  padding: 5px;
}
path {
  fill: red;
  stroke: #646464;
  stroke-width:2px;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}
.email_container {
	padding-left: 50px;
}

.side_arrow {

  cursor: pointer;
  position: absolute;
  top: 100%;
  margin-top: 100px;
  margin-left: 0px;
  width: 70px;
  height: 90px;
}
.right {
	margin-left: 10px;
}
.left {
    float: right; 
}
.left:hover polyline,
.left:focus polyline {
  stroke-width: 6;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline,
.right:focus polyline {
  stroke-width: 6;
}

.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

polyline {
  transition: all 250ms ease-in-out;
}
input li {
	cursor: pointer;
}
.mid_mid {
	z-index: 10;
}
.new_admin {
	margin-left: 200px;
	margin-top: 50px;
    height: 400px;
}
.alert .notice {
	margin-left: 200px;
	@extend .holding_class;
}
label .videos {
	@extend .holding_class;
}
.admin_index_blocks {
	min-height: 400px;
}
.you_tube_spot {
	height:100px; 
	width:200px;

    border-radius: 25px;
	border: 2px solid black;
}
.pop_out {
	margin-bottom: 5px;
	box-shadow: 1px 0px $img_box_shadow, 0px 1px $img_box_shadow,
              2px 1px $img_box_shadow, 1px 2px $img_box_shadow,
              3px 2px $img_box_shadow, 2px 3px $img_box_shadow,
              4px 3px $img_box_shadow, 3px 4px $img_box_shadow,
              5px 4px $img_box_shadow, 4px 5px $img_box_shadow,
              6px 5px $img_box_shadow, 5px 6px $img_box_shadow;
}
.pressed_in {
	margin-top: 5px;
	box-shadow: 1px 0px $img_box_shadow, 0px 1px $img_box_shadow,
              2px 1px $img_box_shadow, 1px 2px $img_box_shadow,
              3px 2px $img_box_shadow, 2px 3px $img_box_shadow,
              3px 2px $img_box_shadow, 2px 3px $img_box_shadow;
}






