<%
meta title: "Featured works"
%>

<div class="container-fluid lukes_compositions_page page" id="container" style="padding-left: 100px; width: 100%; height: 700px;">
	<% music_pages = ['lukes_compositions', 'weird_phishes', 'wikr']  %>
	<% i = @i %>
	<%= render 'page_template', name: music_pages[i] %> 
</div>





