<%
meta title: "Featured works",
     description: "Audio Compositions",
     robots: "index",
     keywords: %w(Luke Wickman, Audio Withdrawal, composer, compositions, music, scoring, sound engineers, Weird Phishes, Wikr, aw)
%>
<div class="container-fluid lukes_compositions_page page fullscreen_list" id="container" style="padding-left: 100px; width: 100%; min-height: 700px;">
	<% music_pages = ['lukes_compositions', 'weird_phishes', 'wikr']  %>
	<% i = @i %>
	<%= render 'page_template', name: music_pages[i] %> 
</div>





