<%
meta title: "Featured works",
     description: "Audio Compositions",
     robots: "index",
     keywords: %w(Luke Wickman Audio Withdrawal composers composer compositions music video game film movie scoring sound engineers design misleading scores sample packs Utah Salt Lake City SLC Weird Phishes Wikr contanima album artist aw productions piano experimental electronic orchestral epic horror thematic cinematic booking rock genre adaptable beats chiptunes)
%>
<div class="container-fluid lukes_compositions_page page" id="container" style="padding-left: 100px; width: 100%; height: 700px;">
	<% music_pages = ['lukes_compositions', 'weird_phishes', 'wikr']  %>
	<% i = @i %>
	<%= render 'page_template', name: music_pages[i] %> 
</div>





